<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body class="bg-light">
    <div class="container my-5">
      <div class="mb-4 pb-2 border-bottom">
        <h2 class="fw-bold">Gestion de Items</h2>
        <p class="text-muted small">Administra tu inventario desde aqui</p>
      </div>

      <div class="row">
        <div class="col-12 col-lg-4">
          <p class="text-uppercase text-muted small fw-semibold">Formulario</p>
          <h5 class="fw-bold mb-3">Agregar nuevo item</h5>

          <form method="POST" action="#">
            <div class="mb-3">
              <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre</label>
              {{ form.nombre}}
            </div>
            <div class="mb-3">
              <label for="{{ form.precio.id_for_label }}" class="form-label">Precio</label>
              {{ form.precio}}
            </div>
            <div class="mb-3">
              <label for="{{ form.descripcion.id_for_label }}" class="form-label">Descripcion</label>
              {{ form.descripcion}}
            </div>

            <button type="submit" class="btn btn-outline-success w-100">Agregar Item</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>